// ---------------------------------------------------------
// @Borders
// ---------------------------------------------------------

$border-width: 1px;
$border-color: rgba(0, 0, 0, 0.0625);
$nav-tabs-link-active-border-color: $border-color $border-color $default-white !default;