.sortable-drag.sortable-fallback {
  position: fixed !important;
}

.sort-handle {
  background-color: $grey-300;
  line-height: 0.25;
  width: 1rem;
  cursor: move;
  z-index: 100 !important;
  position: absolute;
  height: 100%;
}

.sortable-chosen {
  .sort-handle {
    background-color: $md-blue-50;
  }
}